transitmap.svg
Makefile
CMakeCache.txt
*.o
*.a
cmake_install.cmake
*~
CMakeFiles
*.cfg
*.cmake
/build/
*.pyc
.vimrc
.clang_complete
/.idea
*.vs
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.cppr
*.hr
*.log
# pixi environments
.pixi/*
!.pixi/config.toml

# playground

# clangd
compile_commands.json
.cache
